<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257447885922-bir8dlah0tb0bgoq6355deb1k606lhcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257447885922-bir8dlah0tb0bgoq6355deb1k606lhcm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257447885922-nmtjgppkber8k887gne12gch8l4nn30l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlETJJAU57Ups_v-J4iJgDTiU8n5JZW4o</string>
	<key>GCM_SENDER_ID</key>
	<string>257447885922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zartekTest</string>
	<key>PROJECT_ID</key>
	<string>zartek-test-e6fda</string>
	<key>STORAGE_BUCKET</key>
	<string>zartek-test-e6fda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257447885922:ios:546538d222dc4aacebe53b</string>
</dict>
</plist>